@import url('./theme.css');
@import url('./header.css');
@import url('./footer.css');

body {
    line-height: 1.7;
    font-size: clamp(1.4vw, 1.125rem, 20px);
}
section#introduction{
    margin: 0!important;
}
section#introduction p{
    margin: 0 0 1rem !important;
    max-width: 100% !important;
}
section#introduction h2{
    margin-top: 2rem;
}