footer {
    background-color: #0e0a05;
    color: var(--white_80);
    padding-bottom: 3rem;
    padding-top: 6rem;
}

footer .logo {
    align-items: flex-start;
    justify-content: flex-start;
}

footer .logo img {
    height: 2rem;
}

footer>div>div:not(:last-child) {
    border-bottom: 1px solid #ffffff28;
}

footer>div>:first-child {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2rem;
}

footer>div>:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2rem;
    gap: 4rem;
    padding-block: 2rem;

}

footer .link {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

footer>div> :nth-child(2)> :first-child {
    width: 400px;
    max-width: 100%;
}

footer h5 {
    font-size: 1.2rem;
    color: var(--white);
}

footer>div> :nth-child(2) a {
    color: var(--white_70);
}

footer>div> :nth-child(2) a:hover {
    color: var(--white);
}

@media (max-width: 992px) {
    footer>div>:first-child> :first-child {
        grid-column-start: 1;
        grid-column-end: 4;
        margin-block: 2rem;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    footer>div>:first-child {
        grid-template-columns: repeat(3, 1fr);
    }

    footer>div>:first-child> :not(:first-child) {
        text-align: center;
    }

    footer>div> :nth-child(2) {
        grid-template-columns: repeat(3, 1fr);
    }

    footer>div> :nth-child(2)> :first-child {
        grid-column-start: 1;
        grid-column-end: 4;
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    footer>div>:first-child> :first-child {
        grid-column-start: 1;
        grid-column-end: 2;
        align-items: flex-start;
        justify-content: flex-start;
    }

    footer>div>:first-child {
        grid-template-columns: 1fr;
    }

    footer>div>:first-child> :not(:first-child) {
        text-align: left;
    }

    footer>div> :nth-child(2) {
        grid-template-columns: 1fr;
    }

    footer>div> :nth-child(2)> :first-child {
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: left;
    }
}